:root {
  --primery-text-color: #212121;
  --accent-color: #2196f3;
  --text-color: #757575;
  --fons-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --svg-color: #757575;
  --background-team-color: #f5f4fa;
  --fill-color: #afb1b8;
}
body {
  background-color: var(--fons-color);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
/* Утилиты */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* sait nav */
.sait-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.sait-nav-list {
  display: flex;
}
.sait-nav .item:not(:last-child) {
  padding-right: 50px;
}

.flexbox {
  display: flex;
}

.accent {
  color: var(--accent-color);
}

.sait-nav .logo {
  margin-right: 90px;
  padding-top: 25px;
  padding-bottom: 25px;

  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 90px;
}

.sait-nav .link {
  text-decoration: none;
}
.sait-nav > .a {
  color: var(--primery-text-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.11;
}

.sait-nav .item {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.sait-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 0px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.sait-nav .link:hover {
  color: var(--accent-color);
}
.sait-nav .link:focus {
  color: var(--accent-color);
}
/* Header */
.header {
  border-bottom: 1px solid #ececec;
}

.header a {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;

  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header a:hover {
  color: var(--accent-color);
}
.header a:focus {
  color: var(--accent-color);
}

.header .flexbox {
  justify-content: flex-end;
  align-items: center;
}
.link-icon {
  margin-right: 10px;
  text-decoration: none;
  color: var(--svg-color);
}
.link-icon :hover {
  fill: var(--accent-color);
}
.link-icon :focus {
  fill: var(--accent-color);
}
/* Hero */
.hero {
  display: flex;
  background-color: #2f303a;
  max-width: 1230px;
  max-height: 600px;
  margin-right: auto;
  margin-left: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-box {
  padding-top: 200px;
  padding-bottom: 200px;
  letter-spacing: 0.06em;

  align-items: center;
  flex-direction: column;
  text-align: center;
  display: inline-flex;
}

.hero-title {
  width: 700px;
  height: 120px;
  margin-top: 0px;
  margin-bottom: 30px;
  align-items: center;

  color: var(--fons-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}
/* Button */
.button {
  width: 200px;
  height: 50px;
  border-radius: 4px;

  color: var(--fons-color);
  background: var(--accent-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  font-family: inherit;
}

/* Section */
.section .features {
  padding-top: 90px;
  padding-bottom: 90px;
}

.section-features-title {
  display: none;
}
.section-title {
  color: var(--primery-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
/* Features */
.features-cont {
  padding-top: 0px;
  padding-bottom: 0px;
}
.features-title {
  margin-bottom: 10px;

  color: var(--primery-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-text {
  display: flex;
  align-content: stretch;
  width: 270px;

  color: var(--text-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}
.features-icon-list {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features-list {
  display: flex;
  justify-content: space-between;
}
.features-text {
  flex-basis: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
}
.features-text:nth-child(4n) {
  margin: 0;
}

.features:nth-last-child(- n + 4) {
  margin: 0px;
}
/* чем мы занимаемся */
.doing {
  padding-top: 0px;
  padding-bottom: 0px;
}
.doing-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.doing-item {
  width: calc((100% - 30px x 2) / 3);
  margin: 0px;
}
.doing-item:nth-child(3n) {
  margin: 0px;
}
.doing-item:nth-last-child(- n + 3) {
  margin: 0px;
}

/* наша команда */

.team-cont {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-team-color);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.team-personal {
  width: calc((100% - 30px x 3) / 4);
  margin: 0px;
  background-color: var(--fons-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-personal:nth-child(4n) {
  margin-right: 0px;
}
.team-personal:nth-last-child(- n + 4) {
  margin-right: 0px;
}
.socisl-icon-list {
  display: flex;
  justify-content: center;
}
.social-icon-item:not(:last-child) {
  margin-right: 10px;
}
.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--fons-color);
  border-radius: 50%;
}
.social-icon-item {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-bottom: 30px;
  border: 1px;
  border-radius: 12px;
}
.social-icon-item :hover {
  background: #2196f3;
}
.social-icon-item :hover {
  fill: var(--fons-color);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--fill-color);
}
.naim {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.work {
  color: var(--text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* Постояныые клиенты */
.client-cont {
  padding-top: 94px;
  padding-bottom: 94px;
}
.client-icon-list {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}
.client-icon-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: calc((100% - 30px x 5) / 6);
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.client-icon-item:not(:last-child) {
  margin-right: 30px;
}
.client-icon-link {
  fill: #afb1b8;
}
.client-icon-list :hover {
  fill: #2196f3;
}

/* Footer */
.footer {
  background-color: #2f303a;
  height: 252px;
}

.logo {
  width: 145px;
  padding-top: 60px;
  padding-bottom: 20px;
  margin: 0px;

  color: var(--fons-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.1;
}
.address {
  width: 230px;
  margin: 0px;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  display: inline-block;
  justify-content: flex-end;
  align-items: center;
}
.footer-adress {
  width: 251px;
}
.address-text {
  margin-bottom: 10px;

  color: var(--fons-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1/71;
  letter-spacing: 0.03em;
}
.footer-element {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer-adress a {
  padding-bottom: 9px;
}
.footer-link {
  color: var(--footer-link-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-icon-list {
  display: inline-flex;
}
.footer-icon-item {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px;
  border-radius: 50%;
}
.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer-icon-item :hover {
  background: #2196f3;
}
.footer-icon-item :hover {
  fill: var(--fons-color);
}
.footer-icon {
  width: 20px;
  height: 20px;
  fill: var(--fons-color);
}

.join-link {
  width: 206px;
  height: 80px;
  margin-left: 70px;
}

.join {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  width: 145px;
}

/* Button-portfolio */
.button-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-nav > li {
  margin-right: 10px;
}

.button-navigeychin {
  border-radius: 4px;

  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}
.button-navigeychin:hover {
  background: #2196f3;
}
.portfolio {
  display: block;
  flex-wrap: wrap;
  padding-top: 90px;
  padding-bottom: 90px;
}
.elements {
  display: flex;
  flex-wrap: wrap;
  margin-top: 55px;
}
.elemens {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #ececec;
}

.elemens:nth-child(3n) {
  margin-right: 0px;
}
.elemens:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.elements :hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-title {
  padding-top: 20px;
  padding-right: 25px;
  padding-left: 25px;
  margin: 0px;

  color: var(--primery-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  padding-top: 4px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-left: 25px;
  margin: 0px;

  color: var(--text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
